.grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left:200px;

}

.cell
{
    position:relative;
    display:flex;
    text-align : center;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
}

.info
{
    text-align : center;
}

.links
{
    font-size : 20px;
    margin-left: 150px;
}

#header
{
    display:flex;
    background-color: #65af37;
    height : 150px;
    line-height: 150px;
}

#footer
{
    text-align: center;
    background-color: #65af37;
    height : 50px;
    line-height: 50px;
}

.search-form-articles
{
    text-align:left;
    margin-left: 20px;
}

.errorMessage
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.deleteButton
{
    position:absolute;
    background-color: #8c8c8c;
    color:#FFFFFF;
    height:20px;
    width:50px;
    border-radius:15%;
    top:0;
    right:0;
    margin-top:5px;
}

.success_message
{
    background-color: #4eb024;
    color: #FFFFFF;
    height: 20px;
    width: 100%;
    margin-top:10px;
    text-align:center;
}

/*
/////////////////////////////////////////////BOUTONS//////////////////////////////////////////////
 */

.form-container
{
    box-sizing: border-box;
    margin-top: 100px;
    margin-left:30%;
    margin-bottom: 100px;
    max-width: 600px;
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color: #addb85;
    border: 1px solid #65af37;
    grid-gap: 50px;
    vertical-align:middle;
    border-radius:15px;

}

.form-label
{
    margin-left:50px;
    line-height:40px;
    text-align:right;

}

.form-field
{
    line-height:40px;
}

.submit-form-article
{
    text-align:right;
    margin-bottom:20px;
}

.form-field-view
{
    background-color: #deffc8;
    border: 1px solid #65af37;
    border-radius:10px;
}

.submit-form-view
{
    background-color: #4eb024;
    border: 1px solid #65af37;
    border-radius:10px;
    color:#FFFFFF;
}