<!-- C'est une page de base qui inclut le header, le footer et le block particulier chargé par la page -->

{%  include '_header.html.twig' %}
<main>
    {% block main %}

    {% endblock %}
</main>
{% include '_footer.html.twig' %}