{% extends "base.html.twig" %}
{% block main %}
<div class="grid">
{% for product in products %}
    <div class="cell">
        <a href= {{ path('article_info', {'id': product.id}) }}>
        <h2>{{ product.title }}</h2>

    <img src="{{ product.image }}" alt="{{ product.title }}">
            </a>
    </div>
{% endfor %}
</div>
{% endblock main %}