{% extends "base.html.twig" %}
{% block main %}
    {% for category in categories %}
        <h1 style="text-align:center">{{ category.title }}</h1>
        <div class="grid">
        {% for product in category.articles %}
            <div class="cell">
                <a href= {{ path('article_info', {'id': product.id}) }}>
                <h2>{{ product.title }}</h2>
                    </a>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock main %}